* {

    text-decoration: none;

    margin: 0px;

    padding: 0px;

}





body {

    margin: 0px;

    padding: 0px;

    font-family: 'open sans',sans-serif;
    
    background-color: auto;
    
}



.wrapper {

    width: 1100px;

    margin: auto;

    position: relative;

}

.logo a {

    font-size: 25px;

    font-weight: 400px;

    float: left;

    font-family: courier;

    color: #0f0404;

   

}





.menu {

    float: right;
font-size: 7vw;
    

}



nav{

    width: 100%;

    margin: auto;

    display: none;

    line-height: 80px;

    position: none;

    position: -webkit-sticky;

    top: 1px;

    background: #0dee05;

    z-index: 1;

    border:2px solid #e90d0d;

}



nav ul {

    list-style-type: none;

    margin: 0;

    padding: 0;

    overflow: hidden;

}



nav ul li {

    float: left;

}



nav ul li a {

    color: rgb(14, 10, 10);

    font-weight: bold;

    text-align: center;

    padding: 5px 20px 5px 20px;

    text-decoration: none;

}



nav ul li a:hover {

    text-decoration: underline;

    border-radius: 10px;

    margin-top: 10px;

    padding: 20px 25px 20px 25px;

    color: #07070a;

    cursor:auto;

    font-weight: bold;



}



section {

    margin: auto;

    display: flex;

    margin-bottom: auto;

}



.kolom {

    margin-top: 50px;

    margin-bottom: 50px;

}



.kolom .deskripsi {

    font-size: 80px;

    font-weight: bolt;

    font-family: 'comic sans-ms';

    color: #0E2954 ;

}



h2 {

    font-family: 'comic sans-ms';

    font-weight: 800;

    font-size: 5vwpx;

    margin-bottom: 20px;

    color: #0E2954;

    width: 100%;

    line-height: 50px;

}



.kolom2 .deskripsi {

    font-family: 'comic sans-ms';

    font-weight: 600;

    font-size: 45px;

    margin-bottom: 20px;

    color: #0E2954;

    width: 100%;

    line-height: 25px;

}





a.tbl-biru {

    background: #cc0909;

    border-radius: 25px;

    margin-top: 25px;

    padding: 3px 8px 3px 8px;

    color: #FFFFFF;

    cursor: pointer;

    font-weight: bolt;

}



a.tbl-biru:hover {

    background: #1d024e;

    text-decoration: none;



}

a.tbl-pink {

    background:  #0314e9;

    border-radius: 20px;

    margin-top: 20px;

    padding: 15px 20px 15px 20px;

    color: #FFFFFF;

    cursor: pointer;

    font-weight: bolt;

}

a.tbl-pink:hover {

    background: #1d024e;

    text-decoration: none;

}



p {

    margin: 15px 20px 15px 20px;

    padding: 15px 20px 15px 20px;

}





.tutors {

    float: right;

}

nav{

    width: 100%;

    margin: auto;

    display: flex;

    line-height: 80px;

    position: sticky;

    position: -webkit-sticky;

    top: 0px;

    background: #ffffff;

    z-index: 1;

    border-bottom:1px solid #0E2954;

}



nav ul {

    list-style-type: none;

    margin: 0;

    padding: 0;

    overflow: hidden;

}



nav ul li {

    float: left;

}



nav ul li a {

    color: black;

    font-weight: bold;

    text-align: center;

    padding: 4px 16px 4px 16px;

    text-decoration: none;

}



nav ul li a:hover {

    text-decoration: underline;

    border-radius: 10px;

    margin-top: 10px;

    padding: 20px 25px 20px 25px;

    color: #110ecf;

    cursor:auto;

    font-weight: bold;



}



section {

    margin: auto;

    display: flex;

    margin-bottom: auto;

}



.kolom {

    margin-top: 50px;

    margin-bottom: 50px;

}



.kolom .deskripsi {

    font-size: 80px;

    font-weight: bolt;

    font-family: 'comic sans-ms';

    color: #0E2954 ;

}



h2 {

    font-family: 'comic sans-ms';

    font-weight: 800;

    font-size: 5vwpx;

    margin-bottom: 20px;

    color: #0E2954;

    width: 100%;

    line-height: 50px;

}



.kolom2 .deskripsi {

    font-family: 'comic sans-ms';

    font-weight: 600;

    font-size: 45px;

    margin-bottom: 20px;

    color: #0E2954;

    width: 100%;

    line-height: 25px;

}





a.tbl-biru {

    background: #c70b0b;

    border-radius: 25px;

    margin-top: 25px;

    padding: 5px 10px 5px 10px;

    color: #FFFFFF;

    cursor: pointer;

    font-weight: bolt;

}



a.tbl-biru:hover {

    background: #1d024e;

    text-decoration: none;



}

a.tbl-pink {

    background:  #e90389;

    border-radius: 20px;

    margin-top: 20px;

    padding: 15px 20px 15px 20px;

    color: #FFFFFF;

    cursor: pointer;

    font-weight: bolt;

}

a.tbl-pink:hover {

    background: #1d024e;

    text-decoration: none;

}



p {

    margin: 15px 20px 15px 20px;

    padding: 15px 20px 15px 20px;

}





.contact {

float: right;

}

nav{

    width: 100%;

    margin: auto;

    display: flex;

    line-height: 80px;

    position: sticky;

    position: -webkit-sticky;

    top: 0px;

    background: #ffffff;

    z-index: 1;

    border-bottom:1px solid #0E2954;
    
    background-image: "https://img.freepik.com/free-vector/realistic-blue-circuit-board-backgrond_52683-13904.jpg?size=626&ext=jpg&ga=GA1.2.2133178314.1687613668&semt=sph";
}



nav ul {

    list-style-type: none;

    margin: 0;

    padding: 0;

    overflow: hidden;

}



nav ul li {

    float: left;

}



nav ul li a {

    color: black;

    font-weight: bold;

    text-align: center;

    padding: 4px 16px 4px 16px;

    text-decoration: none;

}



nav ul li a:hover {

    text-decoration: underline;

    border-radius: 10px;

    margin-top: 10px;

    padding: 20px 25px 20px 25px;

    color: #110ecf;

    cursor:auto;

    font-weight: bold;



}



.section {

    margin: auto;

    display: flex;

    margin-bottom: auto;

}



.kolom {

    margin-top: 50px;

    margin-bottom: 50px;

}



.kolom .deskripsi {

    font-size: 80px;

    font-weight: bolt;

    font-family: 'comic sans-ms';

    color: #0E2954 ;

}



h2 {

    font-family: 'comic sans-ms';

    font-weight: 800;

    font-size: 5vwpx;

    margin-bottom: 20px;

    color: #0E2954;

    width: 100%;

    line-height: 50px;

}



.kolom2 .deskripsi {

    font-family: 'comic sans-ms';

    font-weight: 600;

    font-size: 45px;

    margin-bottom: 20px;

    color: #0E2954;

    width: 100%;

    line-height: 25px;

}





a.tbl-biru {

    background: #c70b0b;

    border-radius: 25px;

    margin-top: 25px;

    padding: 5px 10px 5px 10px;

    color: #FFFFFF;

    cursor: pointer;

    font-weight: bolt;

}



a.tbl-biru:hover {

    background: #1d024e;

    text-decoration: none;



}

a.tbl-pink {

    background:  #e90389;

    border-radius: 20px;

    margin-top: 20px;

    padding: 15px 20px 15px 20px;

    color: #FFFFFF;

    cursor: pointer;

    font-weight: bolt;

}

a.tbl-pink:hover {

    background: #1d024e;

    text-decoration: none;

}



p {

    margin: 15px 20px 15px 20px;

    padding: 15px 20px 15px 20px;

}



a.tbl-merah {
  background:  #686868;

    border-radius: 20px;

    margin-top: 20px;

    padding: 15px 20px 15px 20px;

    color: #FFFFFF;

    cursor: pointer;

    font-weight: bolt;
    
}

a.tbl-pink:hover {

    background: #1d024e;

    text-decoration: none;
}